[user]
	email = nigel@slack-smith.com
	name = nigelcss
[core]
	excludesfile = /Users/nigel/.gitignore_global
	autocrlf = input
[diff]
  tool = nvim
[difftool "nvim"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	path = 
[merge]
  tool = nvim
[mergetool]
	keepBackup = false
[mergetool "nvim"]
	cmd = "nvim -d  -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
