[user]
	email = nigel@slack-smith.com
	name = nigelcss
[core]
	excludesfile = /Users/nigel/.gitignore_global
	autocrlf = input
[diff]
  tool = nvim
[difftool "nvim"]
  cmd = "XDG_CONFIG_HOME=\"$HOME/.config/nvim-profiles/diff\" XDG_DATA_HOME=\"$HOME/.local/share/nvim-profiles/diff\" XDG_CACHE_HOME=\"$HOME/.cache/nvim-profiles/diff\" nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$REMOTE\""
	path = 
[merge]
  tool = nvim3x
[mergetool]
	keepBackup = false
[mergetool "nvim3x"]
	cmd = "XDG_CONFIG_HOME=\"$HOME/.config/nvim-profiles/diff\" XDG_DATA_HOME=\"$HOME/.local/share/nvim-profiles/diff\" XDG_CACHE_HOME=\"$HOME/.cache/nvim-profiles/diff\" nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[mergetool "nvim4x"]
	cmd = "XDG_CONFIG_HOME=\"$HOME/.config/nvim-profiles/diff\" XDG_DATA_HOME=\"$HOME/.local/share/nvim-profiles/diff\" XDG_CACHE_HOME=\"$HOME/.cache/nvim-profiles/diff\" nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
